[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
selenium = "*"
user-agent = "*"
pywinauto = "*"
adrenaline = "*"
numpy = "*"
gtts = "*"
python-vlc = "*"
pynput = "*"
pyautogui = "*"
pydirectinput = "*"

[dev-packages]

[requires]
python_version = "3.10"
